<!-- app/templates/base.html -->

{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/hutte.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}
{{ title if title else "Willkommen in unserem Refugium" }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Unser Refugium</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary my-2 my-lg-0" href="{{ url_for('index') }}">Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary my-2 my-lg-0" href="{{ url_for('buchung') }}">Buchung</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary my-2 my-lg-0" href="{{ url_for('login') }}">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary my-2 my-lg-0" href="{{ url_for('user', username=current_user.username) }}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary my-2 my-lg-0" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-3">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-custom" role="alert">{{ message }}</div>
    {% endfor %}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Bootstrap erforderliche JS-Dateien -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}